# WARNING: this file is not suitable for production, please use with caution
version: '3'

services:
  web:
    image: api
    build: .
    command: gunicorn -b 0.0.0.0:5000 api.wsgi:app
    env_file:
      - ./.flaskenv
    environment:
      - DATABASE_URI=sqlite:////db/api.db
    volumes:
      - ./api:/code/api
      - ./db/:/db/
    ports:
      - "5000:5000"
